<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nemo - 微课学习平台</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/nemo.css"/>
    <link rel="stylesheet" href="../css/admin-index.css"/>
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed">
        <div class="container">
            <a class="logo" href="../index">Nemo</a>
            <div class="account" @mouseover="visible" @mouseout="invisible">
                <div class="account-info">
                    <img class="account-avatar" :src="user.avatar" alt=""/>
                    <span class="account-name">{{user.name}}</span>
                    <span class="icon icon-menu-down flip"></span>
                </div>
                <div class="account-menu" v-if="isVisible" v-cloak>
                    <a href="../user/blog" class="account-action"><span class="icon icon-user"></span>个人主页</a>
                    <a href="../user/settings" class="account-action cog"><span class="icon icon-cog"></span>账号设置</a>
                    <a href="../admin/index" class="account-action cog" v-if="user.permissions.APPROVE_APPLICATION"><span class="icon icon-edit"></span>申请批准</a>
                    <a href="" class="account-action logout"><span class="icon icon-log-out"></span>退出登录</a>
                </div>
            </div>
            <span class="line"></span>
            <form class="form-search" action="">
                <input class="search-control" type="text" placeholder="搜索您感兴趣的内容"/>
                <button class="icon icon-search btn-search" type="submit"></button>
            </form>
        </div>
    </div>
</header>
<main id="main" class="container">
    <div class="course-panel">
        <div class="course-item">
            <span class="course-rank">1</span>
        </div>
        <div class="course-item">
            <span class="course-rank">2</span>
        </div>
        <div class="course-item">
            <span class="course-rank">3</span>
        </div>
    </div>
    <div class="approve-panel">
        <div class="search-space">
            <input class="search-input" type="text" placeholder="用户邮箱或手机号"/>
            <button class="search-btn"><span class="icon icon-search"></span></button>
        </div>
        <div class="candidate">
            <div class="candidate-info">
                <img class="candidate-avatar" src="../images/default-avatar.jpg" alt=""/>
                <p class="candidate-item">关注 12</p>
                <p class="candidate-item">收藏 32</p>
            </div>
            <p class="candidate-name">
                <span>王振琦</span>
                <span class="icon icon-ok-sign"></span></p>
            <p class="candidate-motto">心事浩渺连广宇 于无声处听惊雷</p>
            <p class="candidate-profile">
                我是一个喜欢艺术热爱生活的小胖子
                我的梦想是成为一名架构师 但是我还不怎么会编程
                那就做一个艺术家吧 可是我漫画画的不好看 乐感也不好
                还是不要做架构师了 架构师什么的都是秃头
                也不要做艺术家了 艺术家什么的都是流氓
                比流氓还流氓的是专家学者
            </p>
        </div>
    </div>
    <div class="author-panel"></div>
</main>
<footer class="footer">
    <span>&copy;2015-2019 曲阜师范大学周雨晴</span>
</footer>
<div id="popoverSpace" class="popover-space" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" v-bind:key="prompt.id" v-bind:prompt="prompt"></popover>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/nemo.js"></script>
<script src="../js/admin-index.js"></script>
<script>
    const main = new Vue({
        el: "#main",
        data: {

        },
        methods: {

        },
        mounted: function () {

        }
    });
</script>
</body>
</html>