<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nemo - 微课学习平台</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/nemo.css"/>
    <link rel="stylesheet" href="../css/author-book.css"/>
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed">
        <div class="container">
            <a class="logo" href="../index">Nemo</a>
            <div class="account" @mouseover="visible" @mouseout="invisible">
                <div class="account-info">
                    <img class="account-avatar" :src="user.avatar" alt=""/>
                    <span class="account-name">{{user.name}}</span>
                    <span class="icon icon-menu-down flip"></span>
                </div>
                <div class="account-menu" v-if="isVisible" v-cloak>
                    <a href="../user/blog" class="account-action"><span class="icon icon-user"></span>个人主页</a>
                    <a href="../user/settings" class="account-action cog"><span class="icon icon-cog"></span>账号设置</a>
                    <a href="" class="account-action logout"><span class="icon icon-log-out"></span>退出登录</a>
                </div>
            </div>
            <span class="line"></span>
            <a class="btn-publish" href="../book/create"><span class="icon icon-plus"></span></a>
            <form class="form-search" action="">
                <input class="search-control" type="text" placeholder="搜索您感兴趣的内容"/>
                <button class="icon icon-search btn-search" type="submit"></button>
            </form>
        </div>
    </div>
</header>
<main id="main" class="container">
    <div class="theme">
        <img class="book-cover" :src="book.cover" alt=""/>
        <div class="book-wrap">
            <div class="book-info">
                <p class="book-name">{{book.name}}<span class="icon icon-favor" :class="{'orange-favor': isFavorite}" @click="favoriteBook"></span></p>
                <p class="book-desc">{{book.description}}</p>
                <p class="book-style">
                    <span class="item">{{book.style}}&nbsp;&nbsp;&nbsp;</span>
                    <span class="item">章节&nbsp;{{book.page}}&nbsp;&nbsp;&nbsp;</span>
                    <span class="item">收藏&nbsp;{{book.favor}}</span>
                </p>
            </div>
            <div class="author-info">
                <a :href="'../author/blog?id=' + book.author.id">
                    <img class="author-avatar" :src="book.author.avatar" alt=""/>
                    <p class="author-name">{{book.author.name}}</p>
                </a>
            </div>
        </div>
        <div class="read-way">
            <span class="list-way" :class="{'list-active': isList}"></span>
            <span class="trans-way" :class="{'trans-active': isTrans}" @click="transModalVisible"></span>
        </div>
    </div>
    <div class="content">
        <div class="page" v-for="(page, index) in book.pageList" v-cloak>
            <img class="page-image" :src="page.image"/>
            <div class="page-info">
                <p class="page-no"><span>{{index + 1}}</span></p>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <span>&copy;2015-2019 曲阜师范大学周雨晴</span>
</footer>
<div id="popoverSpace" class="popover-space" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" v-bind:key="prompt.id" v-bind:prompt="prompt"></popover>
</div>
<div id="transModal" class="modal trans" v-if="isVisible" v-cloak>
    <div class="trans-content">
        <p class="trans-url"></p>
        <div class="trans-dismiss"><span class="icon-dismiss" @click="invisible"></span></div>
        <!--<img class="trans-page" :src="page.image" alt="">-->
        <video :src="page.image" class="trans-page" controls></video>
        <p class="trans-no"><span>-&nbsp;</span>{{index + 1}}<span>&nbsp;-</span></p>
        <div class="trans-nav nav-prev" title="上一张" @click="prevTrans">
            <span class="nav-arrow arrow-prev"></span>
            <img class="trans-preview prev-right" :src="prevUrl" alt="">
        </div>
        <div class="trans-nav nav-next" title="下一张" @click="nextTrans">
            <span class="nav-arrow arrow-next"></span>
            <img class="trans-preview next-left" :src="nextUrl" alt="">
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/nemo.js"></script>
<script src="../js/author-book.js"></script>
</body>
</html>