<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rumo - 微课学习平台</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/nemo.css"/>
    <link rel="stylesheet" href="../css/book.css"/>
    <link rel="stylesheet" href="../css/author-blog.css"/>
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed">
        <div class="container">
            <a class="logo" href="../index">Rumo</a>
            <div class="account" @mouseover="visible" @mouseout="invisible">
                <div class="account-info">
                    <img class="account-avatar" :src="user.avatar" alt="头像"/>
                    <span class="account-name">{{user.name}}</span>
                    <span class="icon icon-menu-down flip"></span>
                </div>
                <div class="account-menu" v-if="isVisible" v-cloak>
                    <a href="../user/blog" class="account-action"><span class="icon icon-user"></span>个人主页</a>
                    <a href="../user/settings" class="account-action cog"><span class="icon icon-cog"></span>账号设置</a>
                    <a href="" class="account-action logout"><span class="icon icon-log-out"></span>退出登录</a>
                </div>
            </div>
            <span class="line"></span>
            <form class="form-search" action="">
                <input class="search-control" type="text" placeholder="搜索您感兴趣的内容"/>
                <button class="icon icon-search btn-search" type="submit"></button>
            </form>
        </div>
    </div>
</header>
<main id="main" class="container">
    <div class="author">
        <img class="author-portrait" :src="author.portrait" alt=""/>
        <div class="author-wrap">
            <div class="author-info">
                <img class="author-avatar" :src="author.avatar" alt=""/>
                <p class="author-name">{{author.name}}</p>
                <p class="author-motto">{{author.motto}}</p>
                <button class="follow" type="button" @click="followAuthor" :disabled="isDisabled">
                    <span class="icon icon-heart" :class="{'red-heart': isFollowed}"></span>&nbsp;&nbsp;{{action}}
                </button>
                <p class="author-profile">{{author.profile}}</p>
                <div class="subscribe">
                    <ul>
                        <li><p class="num">{{author.book}}</p>
                            <p class="note">课程</p></li>
                        <li><p class="num">{{author.follow}}</p>
                            <p class="note">关注</p></li>
                        <li><p class="num">{{author.follower}}</p>
                            <p class="note">粉丝</p></li>
                        <li><p class="num">{{author.favorite}}</p>
                            <p class="note">收藏</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="triangle"></div>
    </div>
    <div class="content">
        <p class="title">旗下课程</p>
        <p class="title-note">如果喜欢他的课程 那就关注他吧</p>
        <div class="book-list">
            <div class="book" v-for="book in author.bookList">
                <img class="book-cover" :src="book.cover" alt="">
                <div class="book-info">
                    <p class="book-name">{{book.name}}</p>
                    <p class="book-desc">{{book.description}}</p>
                    <div class="book-style">
                        <span class="item">{{book.style}}&nbsp;{{book.type}}</span>
                        <em class="line"></em>
                        <span class="item">章节&nbsp;{{book.page}}</span>
                        <a class="icon icon-link pull-right" :href="'../author/book?id=' + book.id"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <span>&copy;2015-2019 曲阜师范大学周雨晴</span>
</footer>
<div id="popoverSpace" class="popover-space" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" v-bind:key="prompt.id" v-bind:prompt="prompt"></popover>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/nemo.js"></script>
<script src="../js/author-blog.js"></script>
</body>
</html>