<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rumo - 微课学习平台</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/nemo.css"/>
    <link rel="stylesheet" href="../css/author-book.css"/>
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed" th:if="${null == session.user}">
        <div class="container">
            <a class="logo" href="../index">Rumo</a>
            <div class="account" @mouseover="visible" @mouseout="invisible">
                <div class="account-info">
                    <span class="icon icon-phone"></span>
                    <span>手机版</span>
                    <span class="icon icon-menu-down"></span>
                </div>
                <div class="account-menu" v-if="isVisible" v-cloak>
                    <a class="app-menu" href="">
                        <img class="app-code" src="../images/QRCode.png" alt="下载二维码"/>
                        <p class="code-note">扫一扫下载手机客户端</p>
                    </a>
                </div>
            </div>
            <span class="line"></span>
            <button class="login-action" type="button" @click="loginModalVisible">登录</button>
            <span class="line"></span>
            <a class="reg-action" href="../register">注册</a>
            <span class="line"></span>
            <form class="form-search" action="">
                <input class="search-control" type="text" placeholder="搜索您感兴趣的内容"/>
                <button class="icon icon-search btn-search" type="submit"></button>
            </form>
        </div>
    </div>
    <div class="header-fixed" th:if="${null != session.user}">
        <div class="container">
            <a class="logo" href="">Rumo</a>
            <div class="account" @mouseover="visible" @mouseout="invisible">
                <div class="account-info">
                    <img class="account-avatar" :src="user.avatar" alt=""/>
                    <span class="account-name">{{user.name}}</span>
                    <span class="icon icon-menu-down flip"></span>
                </div>
                <div class="account-menu" v-if="isVisible" v-cloak>
                    <a href="../user/index" class="account-action"><span class="icon icon-user"></span>个人主页</a>
                    <a href="../user/settings" class="account-action"><span class="icon icon-cog"></span>账号设置</a>
                    <a href="../admin/index" class="account-action cog"
                       v-if="user.permissions.MANAGE_SYSTEM"><span class="icon icon-edit"></span>系统管理</a>
                    <span class="account-action logout" @click="logout"><span class="icon icon-off"></span>退出登录</span>
                </div>
            </div>
            <span class="line"></span>
            <form class="form-search" action="">
                <input class="search-control" type="text" placeholder="搜索您感兴趣的内容"/>
                <button class="icon icon-search btn-search" type="submit"></button>
            </form>
        </div>
    </div>
</header>
<main id="main" class="container">
    <div class="theme">
        <img class="book-cover" :src="book.cover" alt=""/>
        <div class="book-wrap">
            <div class="book-info">
                <p class="book-name">{{book.name}}<span class="icon icon-star" :class="{'orange-star': isFavorite}" @click="favoriteBook"></span></p>
                <p class="book-desc">{{book.description}}</p>
                <p class="book-style">
                    <span class="item">{{book.style}}&nbsp;{{book.type}}&nbsp;&nbsp;&nbsp;</span>
                    <span class="item">章节&nbsp;{{book.page}}&nbsp;&nbsp;&nbsp;</span>
                    <span class="item">收藏&nbsp;{{book.favor}}</span>
                </p>
            </div>
            <div class="author-info">
                <a :href="'../lecturer/index?id=' + book.author.id">
                    <img class="author-avatar" :src="book.author.avatar" alt=""/>
                    <p class="author-name">{{book.author.name}}</p>
                </a>
            </div>
        </div>
        <div class="read-way">
            <span class="list-way" :class="{'list-active': isList}"></span>
            <span class="trans-way" :class="{'trans-active': isTrans}" @click="transModalVisible"></span>
        </div>
    </div>
    <div class="content">
        <p class="title">课程章节</p>
        <div class="lesson" v-for="(page, index) in book.pageList" v-cloak>
            <p class="lesson-no">{{index + 1}}</p>
            <p class="lesson-name">{{page.name}}</p>
            <p class="lesson-play"></p>
            <button class="lesson-study" type="button" @click="playVideo(index)">开始学习</button>
        </div>
    </div>
</main>
<footer class="footer">
    <span>&copy;2015-2019 曲阜师范大学周雨晴</span>
</footer>
<div id="popoverSpace" class="popover-space" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" v-bind:key="prompt.id" v-bind:prompt="prompt"></popover>
</div>
<div id="loginForm" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">欢迎登录Rumo</span>
            <span class="modal-close" @click="invisible"><span class="icon icon-remove"></span></span>
        </div>
        <div class="modal-content">
            <form class="form form-inline">
                <div class="form-group">
                    <label class="form-action"><span class="icon icon-remove-sign"
                                                     @click="removeMobilePhoneNumber"></span></label>
                    <input class="form-control" type="text" placeholder="中国大陆手机号" v-model="user.mobilePhoneNumber"/>
                    <label class="form-label"><span class="icon icon-phone"></span></label>
                </div>
                <div class="form-group">
                    <label class="form-action"><span class="icon icon-eye-open" @click="changeType"></span></label>
                    <input class="form-control" :type="type" placeholder="6-32个字符，区分大小写" v-model="user.password"/>
                    <label class="form-label"><span class="icon icon-lock"></span></label>
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-login" type="button" @click="login" :disabled="loginDisabled">
                        {{loginAction}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="transModal" class="modal trans" v-if="isVisible" v-cloak>
    <div class="trans-content">
        <p class="trans-url"></p>
        <div class="trans-dismiss"><span class="icon-dismiss" @click="invisible"></span></div>
        <video :src="page.image" class="trans-page" controls></video>
        <p class="trans-no"><span>-&nbsp;</span>{{index + 1}}<span>&nbsp;-</span></p>
        <div class="trans-nav nav-prev" title="上一张" @click="prevTrans">
            <span class="nav-arrow arrow-prev"></span>
        </div>
        <div class="trans-nav nav-next" title="下一张" @click="nextTrans">
            <span class="nav-arrow arrow-next"></span>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/nemo.js"></script>
<script src="../js/login.js"></script>
<script src="../js/author-book.js"></script>
</body>
</html>