<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nemo - 微课学习平台</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/nemo.css"/>
    <link rel="stylesheet" href="../css/book-create.css"/>
</head>
<body>
<main class="container">
    <div id="userForm" class="user-info">
        <a href="../user/blog">
            <img class="avatar" :src="user.avatar" alt=""/>
            <div class="info">
                <p class="name">{{user.name}} - 创建课程</p>
                <p class="motto">{{user.motto}}</p>
            </div>
        </a>
    </div>
    <form id="bookCreateForm" class="form-horizontal book-form">
        <div class="form-group cover-group">
            <label class="form-label">封面</label>
            <img class="form-cover" :src="book.cover">
            <input id="file" type="file" @change="changeCover" hidden/>
            <button class="btn-picker" type="button" v-if="!isChosen" @click="chooseCover">
                <span class="icon icon-link"></span>&nbsp;选择图片
            </button>
            <button class="btn-link" type="button" v-if="isChosen" @click="cancelChoice" v-cloak>取消</button>
        </div>
        <div class="form-group middle">
            <label class="form-label">名称</label>
            <input class="form-control" type="text" v-model="book.name"/>
        </div>
        <div class="form-group middle">
            <label class="form-label">年级</label>
            <select class="form-control" v-model="book.style" @change="selectType">
                <option selected disabled>请选择</option>
                <option value="高三">高三</option>
                <option value="高二">高二</option>
                <option value="高一">高一</option>
                <option value="初三">初三</option>
                <option value="初二">初二</option>
                <option value="初一">初一</option>
                <option value="六年级">六年级</option>
                <option value="五年级">五年级</option>
                <option value="四年级">四年级</option>
                <option value="三年级">三年级</option>
                <option value="二年级">二年级</option>
                <option value="一年级">一年级</option>
            </select>
        </div>
        <div class="form-group middle">
            <label class="form-label">学科</label>
            <select class="form-control" v-model="book.type">
                <option selected disabled>请选择</option>
                <option v-for="type in typeList" :value="type">{{type}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label">简介</label>
            <textarea class="form-area" v-model="book.description"></textarea>
        </div>
        <button class="btn pull-right" type="button" @click="createBook" :disabled="isDisabled">
            <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
        </button>
    </form>
</main>
<div id="popoverSpace" class="popover-space" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" v-bind:key="prompt.id" v-bind:prompt="prompt"></popover>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/bmob.js"></script>
<script src="../js/nemo.js"></script>
<script>
    new Vue({
        el: "#userForm",
        data: {
            user: {}
        },
        mounted: function () {
            this.user = JSON.parse(localStorage.getItem("user"));
        }
    });
</script>
</body>
</html>