<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rumo - 微课学习平台</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/nemo.css"/>
    <link rel="stylesheet" href="../css/book.css"/>
    <link rel="stylesheet" href="../css/author.css">
    <link rel="stylesheet" href="../css/user-blog.css"/>
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed">
        <div class="container">
            <a class="logo" href="../index">Rumo</a>
            <div class="account" @mouseover="visible" @mouseout="invisible">
                <div class="account-info">
                    <img class="account-avatar" :src="user.avatar" alt="头像"/>
                    <span class="account-name">{{user.name}}</span>
                    <span class="icon icon-menu-down flip"></span>
                </div>
                <div class="account-menu" v-if="isVisible" v-cloak>
                    <a href="../user/blog" class="account-action"><span class="icon icon-user"></span>个人主页</a>
                    <a href="../user/settings" class="account-action cog"><span class="icon icon-cog"></span>账号设置</a>
                    <a href="" class="account-action logout"><span class="icon icon-log-out"></span>退出登录</a>
                </div>
            </div>
            <span class="line"></span>
            <form class="form-search" action="">
                <input class="search-control" type="text" placeholder="搜索您感兴趣的内容"/>
                <button class="icon icon-search btn-search" type="submit"></button>
            </form>
        </div>
    </div>
</header>
<main id="main" class="container">
    <div class="theme">
        <img class="user-portrait" :src="user.portrait" alt=""/>
        <div class="user-info">
            <div class="user-wrap">
                <img class="user-avatar" :src="user.avatar" alt=""/>
                <p class="user-name">{{user.name}}</p>
                <p class="user-motto">{{user.motto}}</p>
                <p class="user-profile">{{user.profile}}</p>
            </div>
        </div>
        <nav class="option-nav">
            <ul class="option-list">
                <li><span :class="{active: tabIndex == 0}" @click="changeTab(0)">课程&nbsp;<u>{{user.book}}</u></span>
                </li>
                <li><span :class="{active: tabIndex == 1}" @click="changeTab(1)">关注&nbsp;<u>{{user.follow}}</u></span>
                </li>
                <li><span :class="{active: tabIndex == 2}" @click="changeTab(2)">粉丝&nbsp;<u>{{user.follower}}</u></span>
                </li>
                <li><span :class="{active: tabIndex == 3}" @click="changeTab(3)">收藏&nbsp;<u>{{user.favorite}}</u></span>
                </li>
            </ul>
        </nav>
    </div>
    <div class="content" v-if="tabIndex == 0">
        <div class="book-create" @click="bookCreateModalVisible">
            <div class="create-logo"><span class="icon icon-plus"></span></div>
            <span class="create-note">创建课程</span>
        </div>
        <div class="book" v-for="book in user.bookList">
            <img class="book-cover" :src="book.cover" alt="">
            <div class="book-info">
                <p class="book-name">{{book.name}}</p>
                <p class="book-desc">{{book.description}}</p>
                <div class="book-style">
                    <span class="item">{{book.style}}&nbsp;{{book.type}}</span>
                    <em class="line"></em>
                    <span class="item">章节&nbsp;{{book.page}}</span>
                    <a class="icon icon-link pull-right" :href="'../user/book?id=' + book.id"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="content" v-if="tabIndex == 1" v-cloak>
        <div class="author" v-for="author in authorList">
            <img class="author-portrait" :src="author.portrait" alt=""/>
            <img class="author-avatar" :src="author.avatar" alt="">
            <p class="author-name">{{author.name}}</p>
            <div class="author-info">
                <p class="author-motto">{{author.motto}}</p>
                <p class="author-profile">{{author.profile}}</p>
                <div class="author-follow">
                    <span class="item">课程&nbsp;{{author.book}}</span><em class="line"></em>
                    <span class="item">粉丝&nbsp;{{author.follower}}</span>
                    <a class="icon icon-link pull-right" :href="'../author/blog?id=' + author.id"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="content" v-if="tabIndex == 2" v-cloak>
        <div class="author" v-for="follower in followerList">
            <img class="author-portrait" :src="follower.portrait" alt=""/>
            <img class="author-avatar" :src="follower.avatar" alt="">
            <p class="author-name">{{follower.name}}</p>
            <div class="author-info">
                <p class="author-motto">{{follower.motto}}</p>
                <p class="author-profile">{{follower.profile}}</p>
                <div class="author-follow">
                    <span class="item">关注&nbsp;{{follower.follow}}</span><em class="line"></em>
                    <span class="item">收藏&nbsp;{{follower.favorite}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="content" v-if="tabIndex == 3" v-cloak>
        <div class="book" v-for="book in bookList">
            <img class="book-cover" :src="book.cover" alt="">
            <div class="book-info">
                <p class="book-name">{{book.name}}</p>
                <p class="book-desc">{{book.description}}</p>
                <div class="book-style">
                    <span class="item">{{book.style}}&nbsp;{{book.type}}</span><em class="line"></em>
                    <span class="item">章节&nbsp;{{book.page}}</span>
                    <a class="icon icon-link pull-right" :href="'../author/book?id=' + book.id"></a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <span>&copy;2015-2019 曲阜师范大学周雨晴</span>
</footer>
<div id="bookCreateModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">创建课程</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content">
            <form class="form-horizontal book-form">
                <div class="form-group cover-group">
                    <label class="form-label">封面</label>
                    <img class="form-cover" :src="book.cover">
                    <input id="file" type="file" @change="changeCover" hidden/>
                    <button class="btn-picker" type="button" v-if="!isChosen" @click="chooseCover">
                        <span class="icon icon-link"></span>&nbsp;选择图片
                    </button>
                    <button class="btn-link" type="button" v-if="isChosen" @click="cancelChoice" v-cloak>取消
                    </button>
                </div>
                <div class="form-group middle">
                    <label class="form-label">名称</label>
                    <input class="form-control" type="text" v-model="book.name"/>
                </div>
                <div class="form-group middle">
                    <label class="form-label">年级</label>
                    <select class="form-control" v-model="book.style" @change="selectType">
                        <option selected disabled>请选择</option>
                        <option value="高三">高三</option>
                        <option value="高二">高二</option>
                        <option value="高一">高一</option>
                        <option value="初三">初三</option>
                        <option value="初二">初二</option>
                        <option value="初一">初一</option>
                        <option value="六年级">六年级</option>
                        <option value="五年级">五年级</option>
                        <option value="四年级">四年级</option>
                        <option value="三年级">三年级</option>
                        <option value="二年级">二年级</option>
                        <option value="一年级">一年级</option>
                    </select>
                </div>
                <div class="form-group middle">
                    <label class="form-label">学科</label>
                    <select class="form-control" v-model="book.type">
                        <option selected disabled>请选择</option>
                        <option v-for="type in typeList" :value="type">{{type}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">简介</label>
                    <textarea class="form-area" v-model="book.description"></textarea>
                </div>
                <button class="btn pull-right" type="button" @click="createBook" :disabled="isDisabled">
                    <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
                </button>
            </form>
        </div>
    </div>
</div>
<div id="popoverSpace" class="popover-space" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" v-bind:key="prompt.id" v-bind:prompt="prompt"></popover>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/bmob.js"></script>
<script src="../js/nemo.js"></script>
<script src="../js/user-blog.js"></script>
</body>
</html>