<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nemo - 微课学习平台</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/nemo.css"/>
    <link rel="stylesheet" href="../css/user-page.css"/>
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed">
        <div class="container">
            <a class="logo" href="../index">Nemo</a>
            <div class="account" @mouseover="visible" @mouseout="invisible">
                <div class="account-info">
                    <img class="account-avatar" :src="user.avatar" alt="头像"/>
                    <span class="account-name">{{user.name}}</span>
                    <span class="icon icon-menu-down flip"></span>
                </div>
                <div class="account-menu" v-if="isVisible" v-cloak>
                    <a href="../user/blog" class="account-action"><span class="icon icon-user"></span>个人主页</a>
                    <a href="../user/settings" class="account-action cog"><span class="icon icon-cog"></span>账号设置</a>
                    <a href="" class="account-action logout"><span class="icon icon-log-out"></span>退出登录</a>
                </div>
            </div>
            <span class="line"></span>
            <a class="btn-publish" href="../book/create"><span class="icon icon-plus"></span></a>
            <form class="form-search" action="">
                <input class="search-control" type="text" placeholder="搜索您感兴趣的内容"/>
                <button class="icon icon-search btn-search" type="submit"></button>
            </form>
        </div>
    </div>
</header>
<main id="main" class="container">
    <div class="content">
        <a class="book-form" :href="'../user/book?id=' + page.book.id">
            <img class="book-cover" :src="page.book.cover" alt=""/>
            <div class="book-info">
                <p class="book-name">{{page.book.name}}</p>
                <p class="book-desc">{{page.book.description}}</p>
            </div>
        </a>
        <img class="page-image" :src="page.image" alt="">
        <div class="action-nav">
            <div class="action" @click="updateModalVisible">
                <span class="icon icon-edit"></span>
                <span>更新</span>
            </div>
            <span class="line"></span>
            <div class="action" @click="deleteModalVisible">
                <span class="icon icon-trash"></span>
                <span>删除</span>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <span>&copy;2015-2019 曲阜师范大学周雨晴</span>
</footer>
<div id="updateModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">更新漫画分页</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content">
            <div class="modal-box">
                <div v-if="!isChosen">
                    <button class="btn-picker" type="button" @click="choosePage"><span class="icon icon-link"></span>&nbsp;选择图片</button>
                    <p class="picker-note">图片需小于10M；如有来源，请注明</p>
                </div>
                <img class="new-image" :src="image" alt="" v-if="isChosen"/>
                <input id="file" type="file" @change="analyzePage" hidden/>
            </div>
        </div>
        <div class="modal-footer" v-if="isChosen">
            <button class="btn-pick-cancel pull-right" @click="cancelChoice" :disabled="isDisabled">取消</button>
            <button class="btn-pick-save pull-right" @click="updatePage" :disabled="isDisabled">{{action}}</button>
        </div>
    </div>
</div>
<div id="deleteModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">删除漫画分页</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content">
            <p class="delete-prompt">{{deletePrompt}}</p>
        </div>
        <div class="modal-footer" v-if="!deleting">
            <button class="btn btn-cancel pull-right" type="button" @click="invisible">取消</button>
            <button class="btn pull-right" type="button" @click="deletePage">确定</button>
        </div>
    </div>
</div>
<div id="popoverSpace" class="popover-space" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" v-bind:key="prompt.id" v-bind:prompt="prompt"></popover>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/bmob.js"></script>
<script src="../js/nemo.js"></script>
<script src="../js/user-page.js"></script>
</body>
</html>